.App {
  text-align: center;
}

.App-content {
  display: flex;
  margin-top: 150px;
}

.datacard-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 200px;
  min-width: 82%;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .App-content {
    margin-top: 90px;
  }

  .datacard-container{
    right: 45px;

  }
}

@media (max-width: 768px) {
  

  .datacard-container{
    right: 20px;
  }
}